.HomePage {
    .actionsHeader{
        margin-bottom: 4px;

    }
    // display: flex;
    .user{
        display: flex;
 
        h4{
            margin-bottom: 4px;
        }
    }
    .headlineh4{
        font-size: 1.2em;
        color: #1a73e8; 
    }
    .headline{
        margin:0 0 4px 0;  
    }
    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
    }
    .role{
        margin:0 0 20px 0;
    }
    .actionsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .medicalContainer{
        display: flex;
        justify-content: center;
        gap: 100px;
    }
}

.medicalList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 60vh;
    // overflow-y: scroll;
    // scroll-behavior: smooth;
}

.Modal{
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 70vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddf8efe8;
    padding: 1.4em;
    border-radius: 20px;
}

.btnAdd{
    font-size: 1.2em;
    background: #1a73e8;
    padding: 0px 5px;
    color: #fff;
    padding: 5px 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin:8px 0px;
    a , a:visited{
        color: #fff;
    }
    &:hover{
        background: #80fcd3;
        color: rgb(19, 18, 18);
    }
}
