.locationPreview{
    display: block;
}
.locationsContainer{
    display: block;

    display: block;
    padding: 10px;
    background: #aadaff7a;
}

.locationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

.locationText{
    font-size: 1.6em;
    background: #1a73e8;
    padding: 0px 5px;
    color: #fff;
}


    
